@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
.swiper-pagination-bullet-active {
  @apply !bg-secondary;
}

@layer base{
    @font-face {
        font-family: Samim;
        font-weight: bold;
        src: url(../fonts/Samim-Bold-FD.eot),url(../fonts/Samim-Bold-FD.ttf),url(../fonts/Samim-Bold-FD.woff),url(../fonts/Samim-Bold-FD.woff2);
    }
    @font-face {
        font-family: Samim;
        font-weight: normal;
        src: url(../fonts/Samim-FD.eot),url(../fonts/Samim-FD.ttf),url(../fonts/Samim-FD.woff),url(../fonts/Samim-FD.woff2);
    }
    html{
        direction: rtl;
    }
    body{
        @apply text-primary;
        font-family: Samim;
        font-weight: normal;
    }
}
@layer components{
    .btn-primary{
        @apply px-5 py-1 rounded-lg border border-primary hover:bg-primary hover:text-white transition-all duration-300;
    }
    .btn-secondary{
        @apply px-5 py-1 rounded-lg border border-secondary text-secondary hover:bg-secondary hover:text-white transition-all duration-300;
    }
}