@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
.swiper-pagination-bullet-active {
  @apply !bg-secondary;
}

@layer base{
    @font-face {
        font-family: Samim;
        font-weight: bold;
        src: url(../fonts/Samim-Bold-FD.eot),url(../fonts/Samim-Bold-FD.ttf),url(../fonts/Samim-Bold-FD.woff),url(../fonts/Samim-Bold-FD.woff2);
    }
    @font-face {
        font-family: Samim;
        font-weight: normal;
        src: url(../fonts/Samim-FD.eot),url(../fonts/Samim-FD.ttf),url(../fonts/Samim-FD.woff),url(../fonts/Samim-FD.woff2);
    }
    html{
        direction: rtl;
    }
    body{
        @apply text-primary;
        font-family: Samim;
        font-weight: normal;
    }
}
@layer components{
    .btn-primary{
        @apply px-5 py-1 rounded-lg border border-primary hover:bg-primary hover:text-white transition-all duration-300;
    }
    .btn-secondary{
        @apply px-5 py-1 rounded-lg border border-secondary text-secondary hover:bg-secondary hover:text-white transition-all duration-300;
    }
    .btn-primary-fill{
        @apply px-5 py-1 rounded-lg border border-primary bg-primary text-white hover:bg-white hover:text-primary transition-all duration-300;
    }
    .btn-secondary-fill{
        @apply px-5 py-1 rounded-lg border border-secondary bg-secondary text-white hover:bg-white hover:text-secondary transition-all duration-300;
    }
    .input-cart{
        @apply py-1 px-2 rounded-lg border border-gray;
    }
    .pagination-bullet{
        @apply h-7 w-7 bg-primary text-white flex items-center justify-center rounded-full mx-1;
    }
    .pagination-bullet-active{
        @apply h-7 w-7 bg-secondary text-white flex items-center justify-center rounded-full mx-1;
    }
    .product-select-color-active{
        @apply w-9 h-9 rounded-full mx-2 icon-[solar--check-circle-bold];
    }
    .product-select-color{
        @apply w-9 h-9 rounded-full mx-2;
    }
    .product-select-size-active{
        @apply rounded-lg px-2 py-1 mx-2 bg-primary text-white flex items-center justify-center text-lg;
    }
    .product-select-size{
        @apply rounded-lg px-2 py-1 mx-2 border-primary border bg-transparent text-primary flex items-center justify-center text-lg;
    }
    .select-comment-or-prop-product-active{
        @apply px-5 py-2 text-lg rounded-t-lg text-white bg-primary;
    }
    .select-comment-or-prop-product{
        @apply px-5 py-2 text-lg rounded-t-lg text-primary;
    }
    .post-card{
        @apply border border-gray rounded-lg p-2 flex items-center mb-4;
    }
    .post-card-selected{
        @apply border-secondary border rounded-lg p-2 flex items-center mb-4;
    }
    .post-card-selected span{
        @apply text-secondary;
    }
}
@layer utilities{
    .text-red{
        color: red;
    }
}